{% extends "base.html" %}

{% block title %}Lev Givon's Art{% endblock %}

{% set current_page = "art" %}

{% block content %}
    <h2>Compositions</h2>

    <div id="sidebar" class="left">
      <div class="inner">
        <ul>
          <li><a href="dror-yikra.html">Dror Yikra</a></li>
          <li><a href="yetziv-pitgam.html">Yetziv Pitgam</a></li>
          <li><a href="psalms.html">Psalms I</a></li>
          <li><a href="zechariah.html">Zechariah II:5-9</a></li>
          <li><a href="wedding-1.html">Wedding I</a></li>
          <li><a href="wedding-2.html">Wedding II</a></li>
          <li><a href="new-year-1.html">New Year I</a></li>
          <li><a href="new-year-2.html">New Year II</a></li>
          <li><a href="proverbs.html">Proverbs</a></li>
          <li><a href="book-cover.html">Book Cover</a></li>
          <li><a href="old-man.html">Old Man</a></li>
          <li><a href="green-hat-man.html">Man in a Green Hat</a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="right" align="justify">

      <p>The examples listed on this page constitute a selection of some of my
      more interesting calligraphic compositions and drawings. Being that the 
      images are not displayed to scale, the actual dimensions of each composition
      are indicated in the description displayed alongside each image.</p>

      <p>Please note that all of the illustrations on my site are copyrighted
      and hence <i>not</i> in the public domain. If you wish to copy or make use of
      them for some purpose, please <a href="contact.html">contact</a> me.</p>
    </div>
    <div class="clear" style="padding-bottom:25px"></div>
{% endblock %}
