{% extends "base.html" %}

{% block title %}Lev Givon's Web Site{% endblock %}

{% set current_page = "index" %}

{% block content %}
    <h2>About Me</h2>

    <div id="sidebar" class="left">
      <img src="images/lev.png" width="200px" height="200px" align="left" class="photo" />
    </div>

    <div id="main" class="right" align="justify">
      <p>Welcome to my web site!</p>
      
      <p>I'm currently a data scientist at <a
      href="https://www.dupont.com/">DuPont's</a>
      Spark Digital Group, where I develop new machine learning
      and advanced analytic techniques to exploit the firm's amazing data resources.</p>

      <p>As of 2020, I have over 11 years experience designing and implementing
      computational solutions for collaborative modeling and simulation of
      neural systems, integration of biological and modeling data to enable
      sophisticated querying of data semantics and structure, novel signal
      processing algorithms, and parallel GPU computing. As an industrial
      researcher, I have developed new deep learning, image processing, and data
      analytic techniques for <a href="https://arxiv.org/abs/1706.08491">
      analyzing biomedical data</a>.</p>

      <p>My doctoral research focused on novel approaches to <a
      href="https://neurokernel.github.io">emulating the brain of the fruit
      fly</a>. As part of my graduate work at the <a
      href="http://www.bionet.ee.columbia.edu">Bionet Lab</a> at <a
      href="https://www.columbia.edu">Columbia University</a>, I was the key
      designer and principal developer of multiple, actively developed
      open-source scientific computing software projects in <a
      href="https://github.com/lebedov/scikit-cuda">C, CUDA, Python</a>, and <a
      href="https://github.com/bionet/ted.matlab">MATLAB</a>. I concurrently
      developed <a href="https://github.com/lebedov/nseindia_lob/">financial
      simulations</a> and custom big data collection/analysis programs for
      researchers at <a href="https://www8.gsb.columbia.edu/">Columbia's
      Business School</a>.</p>

      <p>Read more about my <a href="research.html">academic interests</a> and
      my latest <a href="publications.html">publications</a> on this
      site. Software projects I have contributed to and/or are currently working
      on are available via <a href="projects.html">this page</a> and the GitHub
      site of the <a href="http://bionet.github.io">Bionet Group</a>.</p> 
      </div>
      <div class="clear" style="padding-bottom:25px"></div> {% endblock %}
