{% extends "base.html" %}

{% block title %}Lev Givon's Art - New Year Greeting II{% endblock %}

{% set current_page = "art" %}

{% block content %}
    <h2>New Year Greeting II</h2>
    <div id="sidebar" class="left">
      <hr />
        Size: 8" x 10"
      <hr />
        Completed: 2003
      <hr />

      <p>Apart from the black ink border, this card was executed entirely
      in color pencil. Compared to some inferior brands of color pencils I
      had the misfortune to use in the past, the Berol PrismaColor pencils I
      used for this card were of exceptional quality. The lettering has a
      metallic silver color that is not readily apparent in the scanned
      image. The verse on the banner is from Psalms 81:4.</p>
    </div>

    <div id="main" class="right" align="justify">
      <div class="inner">
      <img src="art/new-year-2.jpg" width="400" height="500" class="aligncenter photo" alt="New Year Greeting II" />
      </div>
    </div>
    <div class="clear" style="padding-bottom:25px"></div>
{% endblock %}
