{% extends "base.html" %}

{% block title %}Lev Givon's Art - Psalms I{% endblock %}

{% set current_page = "art" %}

{% block content %}
    <h2>Psalms I</h2>

    <div id="sidebar" class="left">
      <hr />
        Size: 5" x 8"
      <hr />
        Completed: 1998
      <hr />

      <p>I wrote the letters of this manuscript using Pelikan 4001 black ink and
      an Osmiroid calligraphy pen. The borders were colored with Daler Rowney
      Series A and B gouache and Windsor & Newton water-based gold ink.</p>
    </div>

    <div id="main" class="right" align="justify">
      <div class="inner">
        <img src="art/psalms.jpg" height="590" width="425" class="aligncenter photo" alt="Psalms I" />
      </div>
    </div>
    <div class="clear" style="padding-bottom:25px"></div>
{% endblock %}
