{% extends "base.html" %}

{% block title %}Lev Givon's Art - Wedding Poem I{% endblock %}

{% set current_page = "art" %}

{% block content %}
    <h2>Wedding Poem I</h2>
    <div id="sidebar" class="left">
      <hr />
        Size: 11" x 14"
      <hr />
        Completed: 2002
      <hr />

      <p>I designed this composition as a wedding gift for some friends of
      mine. Gouache and gold ink were used for the illustrations.</p>

      <p>The attire of the young couple in the illustration is of a
      composite North Italian Renaissance style I based on several period
      manuscripts I have seen. The poem in the scroll supported by the birds
      was composed by myself; the text at the perimeter of the manuscript is
      from Ruth 4:11.</p>
    </div>

    <div id="main" class="right" align="justify">
      <div class="inner">
      <img src="art/wedding-1.jpg" width="390" height="500" class="aligncenter photo" alt="Wedding Poem I" />
      </div>
    </div>
    <div class="clear" style="padding-bottom:25px"></div>
{% endblock %}
