{% extends "base.html" %}

{% block title %}Lev Givon's Art - Zechariah II: 5-9{% endblock %}

{% set current_page = "art" %}

{% block content %}
    <h2>Zechariah II: 5-9</h2>
    <div id="sidebar" class="left">
      <hr />
        Size: 8" x 10"
      <hr />
        Completed: 2000
      <hr />

      <p>I executed this manuscript in much the same way as that of <a
      href="psalms.html">Psalms I</a>, albeit with a calligraphy pen of
      inferior quality to the Osmiroid I used in some of my other
      compositions.</p>
    </div>

    <div id="main" class="right" align="justify">
      <div class="inner">
      <img src="art/zechariah.jpg" width="400" height="505" class="aligncenter photo" alt="Zechariah II: 5-9" />
      </div>
    </div>
    <div class="clear" style="padding-bottom:25px"></div>
{% endblock %}
